<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <ion-title>Registro de Usuario</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">
  <form id="registerForm">
    <ion-item lines="none">
      <ion-input id="username" name="username" type="text" placeholder="Nombre de Usuario"></ion-input>
    </ion-item>
    <p class="error-message" id="usernameError"></p>

    <ion-item lines="none">
      <ion-input id="email" name="email" type="email" placeholder="Correo Electrónico"></ion-input>
    </ion-item>
    <p class="error-message" id="emailError"></p>

    <ion-item lines="none">
      <ion-input id="password" name="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <p class="error-message" id="passwordError"></p>

    <ion-item lines="none">
      <ion-input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar Contraseña"></ion-input>
    </ion-item>
    <p class="error-message" id="confirmPasswordError"></p>

    <ion-item lines="none">
      <ion-input id="age" name="age" type="number" placeholder="Edad"></ion-input>
    </ion-item>
    <p class="error-message" id="ageError"></p>

    <ion-item lines="none">
      <ion-input id="height" name="height" type="number" placeholder="Altura (cm)"></ion-input>
    </ion-item>
    <p class="error-message" id="heightError"></p>

    <ion-item lines="none">
      <ion-input id="weight" name="weight" type="number" placeholder="Peso (kg)"></ion-input>
    </ion-item>
    <p class="error-message" id="weightError"></p>

    <ion-item lines="none">
      <ion-select id="gender" name="gender" placeholder="Género">
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
        <ion-select-option value="other">Otro</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="error-message" id="genderError"></p>

    <ion-item lines="none">
      <ion-select id="activityLevel" name="activityLevel" placeholder="Nivel de Actividad">
        <ion-select-option value="low">Bajo</ion-select-option>
        <ion-select-option value="medium">Medio</ion-select-option>
        <ion-select-option value="high">Alto</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="error-message" id="activityLevelError"></p>

    <ion-button id="submitButton" expand="block" type="submit" class="register-button">Registrarse</ion-button>
  </form>
</ion-content>