<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched">El nombre es obligatorio.</p>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">Ingrese un correo válido.</p>

    <!-- Botones para actualizar y eliminar -->
    <ion-button expand="block" type="submit" [disabled]="editForm.invalid">Actualizar</ion-button>
    <ion-button expand="block" color="danger" (click)="onDelete()">Eliminar</ion-button>
  </form>
</ion-content>

