<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <p *ngIf="editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched">
      El nombre es obligatorio.
    </p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <p *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">
      El correo electrónico no es válido.
    </p>

    <!-- Mostrar la contraseña en texto claro (type="text") -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>  <!-- Cambiado a type="text" -->
    </ion-item>
    <p *ngIf="editForm.get('password')?.invalid && editForm.get('password')?.touched">
      La contraseña debe tener al menos 6 caracteres.
    </p>

    <ion-button expand="block" type="submit" [disabled]="editForm.invalid">
      Actualizar Usuario
    </ion-button>

    <ion-button expand="block" color="danger" (click)="onDelete()">
      Eliminar Usuario
    </ion-button>
    
  </form>
</ion-content>
