#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Contenedor del logo y título */
.logo-container {
  display: flex;
  flex-direction: row; /* Coloca los elementos en fila (horizontalmente) */
  align-items: center; /* Centra verticalmente el logo y el título */
  justify-content: flex-start; /* Alinea los elementos al lado izquierdo */
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; /* Ocupa todo el ancho disponible */
  padding-left: 0px; /* Espacio desde el borde izquierdo de la pantalla */
}  

/* Ajustes del logo */
.logo-img {
  width: 100px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 0px; /* Espacio entre el logo y el título */
}

/* Ajustes del título */
.app-title {
  font-size: 40px;
  color: #de7e1e; /* Naranja pastel */
  margin: 0; /* Remueve los márgenes del título */
}

/* Estilos para el contenido principal */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;
  min-height: 180vh; /* Mantener el mínimo de la pantalla visible */
  overflow-y: scroll; /* Habilitar el scroll cuando hay muchas tarjetas */
}

/* Estilos personalizados para las tarjetas */
.custom-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid orange; /* Borde de 2px en color naranja */
  border-radius: 10px; /* Bordes redondeados (opcional) */
  padding: 10px; /* Espacio interno en la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave (opcional) */
  box-sizing: border-box; /* Asegura que el borde esté dentro del tamaño total de la tarjeta */
}

ion-card img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajustar el tamaño máximo de la imagen dentro de la tarjeta */
}

/* Hacer que las cards se ajusten mejor a dispositivos móviles */
@media (max-width: 768px) {
  .custom-card {
    width: 90%;
  }
}

ion-content {
  --padding-bottom: 16px;
  overflow-y: auto; /* Habilitar el scroll en el contenido principal */
}

/* Estilo del menú lateral */
ion-menu {
  --width: 280px;
}

ion-menu h2 {
  font-size: 18px;
  color: #4a90e2;
  margin: 16px;
}
